@model List<Candidat>
<style>
    body {
        font-family: Arial, sans-serif;
        background-color: #f7f7f7;
        margin: 0;
        padding: 0;
    }

    form {
        margin-top: 200px;
        padding-top: 100px;
    }

    h1 {
        text-align: center;
        margin-top: 20px;
    }

    #inputForm {
        max-width: 600px;
        margin: 0 auto;
        padding: 20px;
        background-color: #fff;
        border-radius: 5px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    }

    #inputQuestion {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    select,
    input[type="file"],
    input[type="text"] {
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        font-size: 16px;
        transition: border-color 0.3s ease-in-out;
    }

    select:focus,
    input[type="file"]:focus,
    input[type="text"]:focus {
        border-color: #007BFF;
    }

    button {
        background-color: #007BFF;
        color: #fff;
        border: none;
        padding: 10px 20px;
        cursor: pointer;
        border-radius: 5px;
    }

    button:hover {
        background-color: #0056b3;
    }

    label {
        display: block;
        margin-bottom: 10px;
        font-weight: bold;
    }
</style>
<div>
<center>
    <h1>Liste des candidats</h1>
        <table class="table" border="2px" style="border-collapse: collapse; text-align: center;">
            <tr>
                <th style="width: 200px;">Nom</th>
                <th style="width: 200px;">Prenom</th>
                <th style="width: 200px;">Email</th>
                <th style="width: 200px;">Telephone</th>
            </tr>
            <form id="inputForm" action="@Url.Action("mail_envoyer","Candidat")" method="post"
                enctype="multipart/form-data">
        
        @foreach (var servicep in Model)
            {
            <tr>
                <td>@servicep.nom <input type="hidden" name="nom_c" value="@servicep.nom"></td>
                <td>@servicep.prenom</td>
                <td>@servicep.email <input type="hidden" name="em" value="@servicep.email"></td>
                <td>@servicep.telephone</td>
                <td><button type="submit" value="Envoyer">Envoyer Mail</button></td>
            </tr>
            }
        </form>
        </table>
</center>
    </div>