@model List<Embauchers>
<style>
    body {
        font-family: Arial, sans-serif;
        background-color: #f7f7f7;
        margin: 0;
        padding: 0;
    }
    form {
        margin-top: 200px;
        padding-top: 100px;
    }
    h1 {
        text-align: center;
        margin-top: 20px;
    }
    #inputForm {
        max-width: 600px;
        margin: 0 auto;
        padding: 20px;
        background-color: #fff;
        border-radius: 5px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    }
    #inputQuestion {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    select,
    input[type="file"],
    input[type="date"],
    input[type="text"] {
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        font-size: 16px;
        transition: border-color 0.3s ease-in-out;
    }
    select:focus,
    input[type="file"]:focus,
    input[type="date"]:focus,
    input[type="text"]:focus {
        border-color: #007BFF;
    }
    button {
        background-color: #007BFF;
        color: #fff;
        border: none;
        padding: 10px 20px;
        cursor: pointer;
        border-radius: 5px;
    }
    button:hover {
        background-color: #0056b3;
    }
    label {
        display: block;
        margin-bottom: 10px;
        font-weight: bold;
    }
</style>
<div>
<center>
    <h1>Liste des candidats</h1>
        <table class="table" border="2px" style="border-collapse: collapse; text-align: center;">
            <tr>
                <th style="width: 200px;">Nom</th>
                <th style="width: 200px;">Prenom</th>
                <th style="width: 200px;">Date de naissance</th>
                <th style="width: 200px;">Genre</th>
                <th style="width: 200px;">Date d'embauche</th>
                <th style="width: 200px;">Numero Employe</th>
                <th style="width: 200px;">Salaire</th>

            </tr>
            @foreach (var embauchers in Model){
            <tr>
                <td>@embauchers.nom</td>
                <td>@embauchers.prenom</td>
                <td>@embauchers.date_de_naissance</td>
                <td>@embauchers.genre</td>
                <td>@embauchers.date_embauche</td>
                <td>@embauchers.numero_employe</td>
                <td>@embauchers.salaire</td>

            </tr>
            }
           
        </table>
</center>
    </div>

