@model Service_Poste
<h1>Service</h1>
<p>Service: @Model.personne  </p>
<p>Service: @Model.nom_service </p>
<p>Service: @Model.nom_poste </p>
<p>Service: @Model.diplome </p>


@* @model String
<h1>Mandeha ve ??? :: @Model</h1> *@